<section class="footer">
    <div class="content full-width">
        <div class="grid-4">
            <a href="#">Back to top</a>
        </div>
        <div class="grid-4">
            <p style="text-align: right">CONTACT US:</p>
        </div>
        <div class="grid-4">
            <a class="contact" href="mailto:innovation-days@teliasonera.com"><img src="/assets/images/e-mail.png" />E-mail</a>
            <a class="contact" href="https://twitter.com/InnovationDayTS"><img src="/assets/images/twitter.png" />Twitter</a>
            <a class="contact" href="https://teliasonera.slack.com/messages/innovation-days/"><img src="/assets/images/slack.png" />Slack</a>
        </div>
    </div>

</section>